/* @font-face {
    font-family: 'Machina';
    src: local('Machina'), local('Machina'),
        url('Machina.woff2') format('woff2'),
        url('Machina.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

