.card {
  position: relative;
  width: 340px;
  height: 450px;
  border: 8px solid gold;
  border-radius: 4px;
  border-top-width: 12px;
  border-image: url('./images/bg-gold.jpg') 30 round;
  background: linear-gradient(to bottom, #fff, #000);
  text-align: center;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.mana {
  width: 48px;
  height: 48px;
  background: url('./images/galaxy.png') 50% 50% no-repeat;
  background-size: cover;
  position: absolute;
  top: -10px;
  left: -4px;
  /*        border: 2px solid;*/
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  /*        position: relative;*/
}

.character-img img {
  width: 100%;
  max-width: 100%;
  height: 350px;
  object-fit: cover;
}

.char-name {
  text-transform: uppercase;
  color: #fff;
  margin-top: -72px;
}

.info-text {
  color: #B1724D;
  /*        margin-top: -40px;*/
}

.element {
  text-transform: uppercase;
  padding: 0 6px;
  background: #1B1A16;
  color: #F3C85D;
  width: max-content;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  mix-blend-mode: luminosity;
}

.element p {
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, #023c5c, #94D4F6);
  background: #1B1A16;
  padding: 4px;
  padding-top: 5px;
  text-shadow: 0px 0px 2px #fff;
}


.power {
  width: 60px;
  height: 30px;
  clip-path: polygon(16% 1%, 76% 0, 100% 100%, 0 100%, 0% 30%);
  background: #E35E00;
  background: url('./images/shutter.png') no-repeat;
  background-position: -2px 58%;
  background-size: cover;
  font-size: 24px;
  position: absolute;
  left: -8px;
  bottom: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
}
.power p {
  margin-left: -8px;
}